.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: $color-grey-light;

  @include respond(under1100) {
    padding: 1rem;
  }
}

.container-posts-width-control {
  padding: 40px 12rem;

  @include respond(under900) {
    padding: 30px 4rem;
  }

  @include respond(under600) {
    padding: 30px 1rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  transition: 5s;
}
